:root {
    --clr-heading: rgb(61, 70, 68);
    --clr-text: rgb(114, 135, 132);
    --clr-accent:rgb(255, 99, 32);
    --clr-gradient: rgb(255, 69, 130);
    --clr-card-bg: rgb(255, 255, 255);
    --clr-container-bg: rgb(237, 241, 240);
    --clr-body-bg: rgb(219, 234, 231);
    --ff-heading: 'Noto Serif', serif;
    --ff-body: 'Poppins', sans-serif;
}
    
/*  General layout and elements */
    
body {    
    background: var(--clr-body-bg);
    font-family: var(--ff-body);
    margin:0;
    padding:5vh 0;
    height:100vh;
}
    
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    line-height:0.8em;
    color: var(--clr-heading);
}

a {
    text-decoration:none;
    color: var(--clr-heading);
    line-height:1em;
}

p {
    color: var(--clr-text);
    font-size:0.9em;
    line-height:1em;
    margin:0;
}

.container {
    background: var(--clr-container-bg);
    max-width: 550px;
    margin: auto;
    padding:1.5em;
    border-radius:10px;
    border: 1px solid var(--clr-body-bg);
    box-shadow: 0.25rem 1rem 3rem -0.25rem rgba(61, 70, 68, 0.1);
}


/* Header */

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom:2em;
}

.nav-link {
    position:relative;
    cursor: pointer;
    }

.nav-link::after {
    content: '';
    position:absolute;
    left:0.1em;
    bottom:-.2em;
    width: 90%;
    height:1px;
    background: var(--clr-heading);
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 300ms ease-in-out;
}

.nav-link:hover::after,
.nav-link:focus::after {
    transform: scaleX(1);
    transform-origin:left;
}

.task-count {
    color:var(--clr-accent);
}

/* Search bar */ 

.search-add-task {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom:1em;
}

.search-bar {
    flex-grow:0.8;
}

/* Add task button */

.add-btn {
position: relative;
width: 3em;
height:3em;
border-radius: 5px;
box-shadow: 0 0.7rem 1.6rem -0.5rem var(--clr-gradient);
background-image: linear-gradient(220deg,var(--clr-gradient) 10%, var(--clr-accent) 90%);
background-size:200%;
background-position:left;
transition: background-position 300ms ease;
}

.add-btn:hover,
.add-btn:focus {
cursor:pointer;
background-position:right;
}

.add-btn:before,
.add-btn:after {
content: "";
position:absolute;
background:var(--clr-card-bg);
}


.add-btn:before { 
left:50%;
top:0.7em;
bottom:0.7em;
width:4px;
transform:translateX(-50%);
}

.add-btn:after { 
top:50%;
left:0.7em;
right:0.7em;
height:4px;
transform:translateY(-50%);
}


/* Task list */

.task-list-title {
    padding:1em 0;
}

.task-card {
    background-color: var(--clr-card-bg);
    padding: 0 1em 1em 2.5em;
    margin: 0.5em 0;
    border-radius: 10px;
    border: 1px solid var(--clr-body-bg);
}

.card-title {
    display:flex;
    justify-content: space-between;
    position:relative;
}

.task-delete {
    font-size:25px;
    line-height: 0;
}

.task-title::before {
    content:'';
    color:white;
    height:0.7em;
    width:0.7em;
    border:2px solid var(--clr-heading);
    border-radius:50%;
    background-color:transparent;
    position:absolute;
    left:-1.4em;
}

.task-title__completed::before {
    content:'';
    color:white;
    height:0.7em;
    width:0.7em;
    border:2px solid var(--clr-heading);
    border-radius:50%;
    background-color:var(--clr-heading);
    position:absolute;
    left:-1.4em;
}

/* Forms */

label,
form span {
    display:block;
    margin:0.5em 10% 0 10%;
}

label {
    color:var(--clr-heading);
}

form span {  /* style helper text */
    font-size: 0.8em;
    font-style: italic;
    color: var(--clr-text);
}

input,
textarea {
    margin:0 0 0 10%;
    font-family:var(--ff-body);
    font-size:1em;
}

input[type=text],
input[type=password],
textarea {
    padding:0.5em;
    border-radius: 5px;
    border: 1px solid var(--clr-body-bg);
    width:80%;
}

input[name=search-text] {
    width:60%;
}

input[type=submit] {
    border: 1px solid var(--clr-heading);
    border-radius:5px;
    background-color: var(--clr-heading);
    color: var(--clr-card-bg);
    transition-duration:300ms;
    transition: 
        background-color 300ms ease-in-out,
        color 300ms ease-in-out;
}

input[type=submit]:hover,
input[type=submit]:focus {
    cursor: pointer;
    background-color: transparent;
    color:var(--clr-heading);
}


.form-title,
.form-footer {
    text-align: center;
    padding:1em;
}

.form-btn {
    display:block;
    margin:2em auto;
    padding:0.5em 2em;
}

.search-btn {
    padding:0.5em;
    margin:1em 0;
}

.search-text {
    margin:0;
}